@{
    var aboutData = ViewBag.about;
    int i = 0;
    string c;
}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Blog Posts</h2>
            <h3 class="section-subheading text-muted">
                You can access my blog posts below
            </h3>
        </div>
        <ul class="timeline">

            @foreach (var item in aboutData)
            {
                i++;
                if (i % 2 == 0)
                {
                    c = "timeline-inverted";
                }
                else
                {
                    c = "";
                }
                <li class="@c">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/@item.TextPic" alt="@item.TextPic" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">

                            <h4 class="subheading">@item.Header</h4>
                            <h6>@item.TextDate</h6>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                @Html.Raw(item.Text)
                            </p>
                            <a class="portfolio-link" data-bs-toggle="modal" href="#Hakkimda@(item.ID)">
                                Details
                            </a>


                        </div>
                    </div>
                </li>
                <div class="portfolio-modal modal fade" id="About@(item.ID)" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="modal-body">
                                            <!-- Project details-->
                                            <h2 class="text-uppercase">@item.Header</h2>
                                            <p class="item-intro text-muted">Details of the article are below.</p>
                                            <img class="img-fluid d-block mx-auto" src="/images/@item.TextPic" alt="@item.TextPic" />
                                            <p>@Html.Raw(item.Text)</p>

                                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                                <i class="fas fa-xmark me-1"></i>
                                                Close Project
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </ul>
    </div>


</section>
