@model IEnumerable<NRM1_mysiteproject.Models.Entities.About>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextPic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextDate)
            </td>
            <td>
                <img src="/images/@item.TextPic" width="150">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
